*{
  box-sizing: border-box;
}
.App {
  text-align: center;
  background:linear-gradient( #8ae98f,#1bb323,#098a0f);
  height:100vh;
}

.App-header {
  background-color: #00bb09;
  height: 40px;
  display: flex;
  flex-direction: column;
  text-align:left;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-left:25px;

  box-shadow: 1px 5px 5px #555454;
}

.App-header h4{
  margin:auto 0;
}

.todo-body
{
  

 min-height: 100vh;
}
.button-section{
  margin-top:20px;
  width:100vw;
  
}
 .button-section .addnew{
   float:left;
   margin: auto 20px;
   background:rgb(4, 131, 53);
   border: 3px solid #08c246;
   border-radius: 8px;
   color:white;
   padding:7px 10px;
   font-weight: 700;
   cursor: pointer;
 }

 .button-section .addnew:hover{
  
  border: 3px solid #04531e;
  
}

.item-section
{
  
  float:left;
  clear:left;
  margin:auto;
  width:100vw;
  
  display: flex;
  
}
